header {
position: fixed;
top: 0px;
left: 0px;
height: 30px;
width: 100%;
color: darkgreen;
background-color: khaki;
}

body {
background-color: powderblue;
}

img {
height: 140px;
width: 140px;  
}
#group{
    width: 160px;
}